.App {
  text-align: center;
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
  background-color: aliceblue ;
}

th,
td {
  padding: 8px;
  border: 1px solid rgb(221, 221, 221);
  text-align: left;
}

th {
  background-color: #61a6ff;
  font-weight: bold;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.Titulo{
  color: rgb(0, 243, 162);
  -webkit-text-stroke: 1px black;
}

